*{
  margin: 0;
}

#page-container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#sidebar{
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  color: white;
  min-width: 242px;
}

#logo-container{
  padding: 30px;
}

#dashboard-icon{
  height: 30px;
  vertical-align: sub;
  filter: invert(1);
}

#sidebar-list{
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 10px;

  list-style: none;
  padding-left: 50px;
}

#sidebar-list h3{
  justify-content: start;
  line-height: 30px;
}

#sidebar-list > img {
  height: 30px;
  
  filter: invert(1);
  justify-content: end;
}

.groups{
  padding-bottom: 30px;
}

#header{
  background-color: red;
  grid-column: 2 / 4;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

#top-buttons{
  background-color: green;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  max-height: 50px;
  padding-right: 10px;
}

#top-buttons img{
  height: 30px;
  padding: 10px;
}

#small-profile-name{
  line-height: 30px;
  padding-top: 10px;
}

#bigger-buttons{
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  box-shadow: 0px 2px 3px;
  max-height: 50px;
  background-color: aqua;
}

#bigger-buttons > img {
  height: 50px;
  padding-left: 40px;
}

button{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  width: 80px;
}





#project-section{
  background-color: gray;
  grid-column: 2 / 3;
  grid-row: 2 / 4
}

h1{
  padding: 10px;
}

#project-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 15px;
}

.project-card{
  background-color: wheat;
  border: none;
  border-left: 5px green solid;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73);

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.project-card-buttons{
  list-style: none;
  display: grid;
  align-self: end;
  justify-self: end;
  padding-right: 20px;
  grid-template-columns: repeat(3, 10px);
  gap: 20px; /* doing this is where it all came together for me! */
}

li > img{
  height: 20px;
}

#announcement-section{
  background-color: lightgray;
}

#announcements-card{
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px;
}

#announcements-card > h2{
  padding-top: 10px;
}

#announcements-card > p{
  padding-bottom: 5px;
}

#trending-section{
  background-color: darkgray;
  grid-column: 3 / 4;
}

#trending-card-container{
  box-shadow: 5px 5px 10px;
  margin: 10px;
  padding: 10px;
}

#trending-card{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;
  padding-bottom: 10px;
}

#trending-card > img{
  height: 40px;
}